
@media (max-width: 1100px) {
	.container {
		width: 100%;
		margin: 0;
	}
	.header__logo{
		margin-left: 135px;
	}
}
@media(max-width: 978px){
	.header{
		background: url(../media/header-col-tablet.png) left top no-repeat, 
				url(../media/header-col-min.png) bottom right no-repeat,
				#f74c55;
		height: 420px;
	}
	.join-now{
		margin-left: 45%;
	}
}
@media(max-width: 860px){
	body.lock{
		overflow: hidden;
	}
	.header__burger{
		display: block;
		position: relative;
		height: 20px;
		width: 30px;
		z-index: 10;
		margin-right: 10px;
		cursor: pointer;
	}
	.header__burger span{
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		top: 9px;
		background-color: #fff;
	}
	.header__burger::before,
	.header__burger::after{
		 content: '';
		 position: absolute;
		 background-color: #fff;
		 width: 100%;
		 height: 2px;
		 left: 0;
		 transition: all 0.3s ease 0s;
	}
	.header__burger::before{
		top: 0;
	}
	.header__burger::after{
		bottom: 0;
	}
	.header__menu {
		width: 100%;
		height: 100%;
		background-color:#f74c55;
		position: fixed;
		top: -100%;
		transition: all 0.3s ease 0s;
		overflow: auto;
		user-select: none; 
		z-index: 2;
	}
	.header__list{
		display: block;
		margin: 90px 0 0 0;
	}
	.header__list li{
		padding-bottom: 10px;
		text-align: center;
	}
	.header__burger.active::before{
		transform: rotate(45deg);
		top:9px;
	}
	.header__burger.active::after{
		transform: rotate(-45deg);
		bottom: 9px;
	}
	.header__burger.active span{
		display: none;
	}
	.header__menu.active{
		top:0;
	}
}
@media(max-width: 789px){
	.header{
		background: url(../media/header-col-mobi.png) center top no-repeat, 
				#f74c55;
		background-size: 500px auto;
	}
	.header__logo{
		flex: 0 0 80px;
		margin-left: calc((100% - 86px) / 2);
	}
	.header__body{
		padding: 5px 0 0 0;
	}
	.header__burger{
		margin-top: 5px;
	}
	.join-now{
		text-align: center;
    	margin: 203px 0 0 0;
	}
	.join-now a{
		margin: 0 auto;
	}
	.boxes .container{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 1f 1f;
	}
	.box{
		width: auto;
	}
	.box1{
		grid-column-start: 1; 
        grid-column-end: 1;
        background-color: #404040; 
	}
	.box2{
		grid-column-start: 2; 
        grid-column-end: 2; 
	}
	.box3{
		grid-column-start: 1; 
        grid-column-end: 3; 
        background-color: #2d5f3b;
        text-align: center;
	}
	.box3 .box-titleimg{
		justify-content: center;
	}
	.box3 p{
		margin: 15px 15%;
	}
}
@media(max-width: 576px){
	.boxes .container{
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: 1f 1f 1f;
	}
	.box{
		width: auto;
	}
	.box1{
		grid-column-start: 1; 
        grid-column-end: 4;
        background-color: #404040; 
	}
	.box2{
		grid-column-start: 1; 
        grid-column-end: 4; 
	}
	.box3{
		grid-column-start: 1; 
        grid-column-end: 2; 
        background-color: #2d5f3b;
        text-align:left; ;
	}
	.box3 .box-titleimg{
		justify-content: flex-start;
	}
	.box3 p{
		margin: 20px 0 0 0;
	}
	.content-text {
    	padding: 80px 4.5% 92px 7.5%;
	}
	.content{
		height: 100%;
	}
}










